body{
    background-color: black;
}
.about1{
    color: red;
    
}
span{
    color: wheat;
}
.about2{
    color: red;
    font-size: 20px;
    font-family: serif;
}
h2{
    color: red;
}
.his{
    color: red;
    font-size: 20px;
    font-family: sans-serif;
}
button{
    text-decoration: none;
    display: inline-block   ;
    color: red;
    position: absolute;
    left: 15%;
    bottom: 25%;
    margin: 20px;
    padding: 10px;
    border: 2px solid  red;
    background-color: wheat;
    transition: 0.4s;
}
button:hover{
   background-color: black;   
}
